*{
    margin: 0; padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: capitalize;


}
a { color: inherit; }
header{
    
    top: 0; left: 0;right:0;
    background: #DC143C;
    padding : 2rem 9%;
    display :flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    font-weight: bolder;
    color:#333;
}
.logoo{
    border: 0 solid ;
    font-size: 5em; 
    width:100px;
    height: 100px;
    background-color: rgb(135, 237, 237);
    margin: left;
    background-image: url(zerone.jpg) ; /* insert an image as a background of the div*/
    background-size: 100% 100%;
    border-radius: 100%;
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}
.icons{
    display:flex;
    gap: 30px;
    align-items: center;
    margin-left: 10px;

}
.home{
    margin-top: 80px;
    margin-left: 0;
    margin-right:0;
    
}

a { color: inherit; }
header{
    top: 0; left: 0;right:0;
    background: #DC143C;
    padding : 2rem 9%;
    display :flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    font-weight: bolder;
    color:#333;
    margin-bottom: 300px;
}
.logoo{
    border: 0 solid ;
    font-size: 5em; 
    width:70px;
    height: 70px;
    background-color: rgb(135, 237, 237);
    margin: left;
    background-image: url(../home/zerone.jpg) ; /* insert an image as a background of the div*/
    background-size: 100% 100%;
    border-radius: 100%;
}
header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}
.icons{
    display:flex;
    gap: 30px;
    align-items: center;
    margin-left: 10px;}
body {
	background: url('./imgg.jpg') no-repeat;
	font-family: Arial, sans-serif;
	text-align: center;
}
.about{
	margin-top: 100px;
}

.about h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.about p {
	font-size: 1rem;
	color: #323030;
	max-width: 800px;
	margin: 0 auto;
}

.about-info {
	margin: 2rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
}
.about-img {
	width: 20rem;
	height: 20rem;
}
.about-img img {
	width: 100%;
	height: 100%;
}
.about-info p {
	font-size: 1.3rem;
	margin: 0 2rem;
}
button {
	padding: 10px;
	margin: 2rem;
	font-size: 1rem;
	color: white;
	background-color: #DC143C;
	text-align: center;
	cursor: pointer;
	width: 15rem;
	border-radius: 4px;
}
.team {
	padding: 30px 0;
	text-align: center;
}

.team h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.team-cards {
	display: flex;
	justify-content: center;
	gap: 100px;
}
.card {
	background-color: white;
	border-radius: 6px;
	box-shadow:0 4px 6px rgba(0, 0, 0, 0.5);
	width: 18rem;
	height: 27rem;
	margin-top: 10px;
}
.card-img {
	width: 18rem;
	height: 17rem;
}
.card-img img {
	width: 100%;
	height: 100%;
}

.card-info button {
	margin: 2rem 1rem;
}

.card-name {
	font-size: 2rem;
	margin: 10px 0;
}

.card-email {
	font-size: 1rem;
	color: #555;
}
a {
	text-decoration: none;
	color: inherit;
  }

