*{
    margin: 0; padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: capitalize;


}
a { color: inherit; }
header{
    
    top: 0; left: 0;right:0;
    background: #DC143C;
    padding : 2rem 9%;
    display :flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    font-weight: bolder;
    color:#333;
}
.logoo{
    border: 0 solid ;
    font-size: 5em; 
    width:100px;
    height: 100px;
    background-color: rgb(135, 237, 237);
    margin: left;
    background-image: url(zerone.jpg) ; /* insert an image as a background of the div*/
    background-size: 100% 100%;
    border-radius: 100%;
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}
.icons{
    display:flex;
    gap: 30px;
    align-items: center;
    margin-left: 10px;

}
.home{
    margin-top: 80px;
    margin-left: 0;
    margin-right:0;
    
}
.body{
    background-color:whitesmoke;
}
.musthave{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-top: 3%;
    color: rgb(50, 50, 50);
} 
.genre{
    text-decoration: none;
    color:rgb(50, 50, 50) ; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
    margin-bottom: 5%;
    
}
.genre:hover{
    text-decoration:underline ;
    text-decoration-color:#DC143C ;
}
.trait{
    height: 5px;
     width: 100px;
     background-color:#DC143C;
     border-radius: 10px;
     translate: 54.5rem;
     margin-bottom: 3%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.block{
    display: grid;
}
.block img{
    max-width: 400px;
    max-height:800px;

}
.block h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;
}
.block h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;
}
.block del{
    font-weight: 400;
    color:#DC143C;
}
.brand{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;
    margin-top: 8%;
}
.brand_image{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.brand_image img{
    max-width: 100px;
}
.btn1{
    display: inline-block;
    background:#DC143C;
    color: #fff;
    padding: 10px 20px;
    margin:5px 0;
    border-radius: 15px;
    text-align: center;
    width: 100px;
    height: 20px;
    margin-left: 110px;

}
